.StudentPicker-pick {
	.picker-outer {
	  overflow: hidden;
	  width: 50em;
	  margin: auto;
	  padding: 2px;
	}

	.picker-inner {
	  width: 9999999px;
	}

	.participant {
	  width: 50em;
	  height: 50em;
	  background-size: 50em;
	}
}